main {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  color: #222;
  margin: 0 auto;
  background: url('../img/bg.jpg') no-repeat center;
  background-size: cover;
}

header {
  height: 52px;
  padding: 10px 15px;
  overflow: hidden;
  box-shadow: 0 2px 8px #f0f1f2;
}

.user-name {
  font-size: 16px;
  margin-left: 10px;
  vertical-align: middle;
  color: #fff;
}
.user-tool {
  text-align: right;
}

.content {
  flex: 1;
}

.empty {
  text-align: center;
  margin-top: 140px;
  font-size: 20px;
}
.empty span {
  padding: 10px;
  color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 8px #f0f1f2;
}

.bookmark {
  width: 340px;
  height: 250px;
  padding: 15px 25px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.7);
  overflow: auto;
}

.bookmark-url {
  font-size: 14px;
  line-height: 1.4em;
  word-break: break-all;
  overflow: hidden;
}
.bookmark-submit-box {
  margin-top: 20px;
  text-align: center;
}
