<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>网址收藏</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="lib/css/iview.css" />
  <link rel="stylesheet" href="css/popup.css" />
  <script src="lib/js/vue.min.js"></script>
  <script src="lib/js/iview.min.js"></script>
  <script src="lib/js/axios.min.js"></script>
</head>

<body>
  <main id="main">
    <header>
      <!--登录-->
      <div v-if="!isAuth" class="login">
        <i-form ref="login" :model="login" inline>
          <Form-item prop="username">
            <i-input type="text" style="width: 180px" v-model="login.username" placeholder="用户名">
              <Icon type="ios-person-outline" slot="prepend"></Icon>
            </i-input>
          </Form-item>
          <Form-item prop="password">
            <i-input type="password" style="width: 180px" v-model="login.password" placeholder="密码">
              <Icon type="ios-lock-outline" slot="prepend"></Icon>
            </i-input>
          </Form-item>
          <Form-item>
            <i-button type="primary" @click="handleSubmit('login')">登录</i-button>
          </Form-item>
        </i-form>
      </div>
      <!--用户-->
      <div v-if="isAuth">
        <Row>
          <i-col span="12">
            <Avatar icon="ios-person"></Avatar>
            <span class="user-name">用户1</span>
          </i-col>
          <i-col span="12" class="user-tool">
            <i-button @click="logout">注销</i-button>
          </i-col>
        </Row>
      </div>
    </header>
    <div class="content">
      <!--未登录-->
      <div v-if="!isAuth" class="empty">
        <span>请登录</span>
      </div>
      <!--书签收藏-->
      <div class="bookmark" v-if="isAuth">
        <i-form ref="bookmark" :model="bookmark" label-position="left" :label-width="80">
          <Form-item label="当前网址:">
            <span>{{bookmark.url}}</span>
          </Form-item>
          <Form-item label="备注:" prop="remark">
            <i-input type="remark" v-model="bookmark.remark" placeholder="备注"></i-input>
          </Form-item>
          <Form-item>
            <i-button type="primary" @click="bookmarkSubmit('bookmark')">收藏</i-button>
          </Form-item>
        </i-form>
      </div>
    </div>
  </main>
  <script src="js/global.js"></script>
  <script src="js/apis.js"></script>
  <script src="js/index.js"></script>
</body>

</html>