<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>网址收藏</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="lib/css/iview.css" />
  <link rel="stylesheet" href="css/popup.css" />
  <script src="lib/js/vue.min.js"></script>
  <script src="lib/js/iview.min.js"></script>
  <script src="lib/js/axios.min.js"></script>
</head>

<body>
  <main id="main">
    <header>
      <div class="login">
        <i-form ref="login" :model="login" inline>
          <Form-item prop="username">
            <i-input type="text" style="width: 180px" v-model="login.username" placeholder="用户名">
              <Icon type="ios-person-outline" slot="prepend"></Icon>
            </i-input>
          </Form-item>
          <Form-item prop="password">
            <i-input type="password" style="width: 180px" v-model="login.password" placeholder="密码">
              <Icon type="ios-lock-outline" slot="prepend"></Icon>
            </i-input>
          </Form-item>
          <Form-item>
            <i-button type="primary" @click="handleSubmit('login')">登录</i-button>
          </Form-item>
        </i-form>
      </div>
      <div class="user">
        <div class="user-box">
          <div>
            <img src="./img/user.svg" alt="user" class="img-circle" />
            <span>用户001</span>
          </div>
          <div class="user-tool">
            <button class="btn btn-default logout">注销</button>
          </div>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="empty">
        <p>请登录</p>
        <Icon type="ios-person-outline" slot="prepend"></Icon>
      </div>
      <div class="bookmark">
        <form class="bookmark-form">
          <p class="bookmark-url">当前网址：<span>未获取到</span></p>
          <div class="form-item">
            <span>备注:</span>
            <input type="remark" class="form-control" name="remark" placeholder="备注" />
          </div>
          <div class="bookmark-submit-box">
            <button type="submit" class="btn btn-default bookmark-submit">
              收藏
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
  <script src="js/global.js"></script>
  <script src="js/apis.js"></script>
  <script src="js/index.js"></script>
</body>

</html>